<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CreateManifest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <CreateManifest.Properties.Settings>
            <setting name="x86" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="x64" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MWriter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MLive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MRenderer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MPreview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MWebRTC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MWebCapture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MWebcameras" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MNDI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MBMD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAJA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MBF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MDelta" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MMage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MHTML5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MChromaKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MCCDisplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MDelay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MColors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MCharGen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MFDTMF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MMixer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MPlaylist" serializeAs="String">
                <value>False</value>
            </setting>
        </CreateManifest.Properties.Settings>
    </userSettings>
</configuration>
